[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_sqlalchemy = "*"
flask_jwt_extended = "*"
flask_migrate = "*"
resend = "*"
cloudinary = "*"
humanize = "*"
sqlalchemy_serializer = "*"
werkzeug = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
