-i https://pypi.org/simple
alembic 
blinker
certifi
charset-normalizer
click
cloudinary
flask
flask-jwt-extended
flask-migrate
flask-sqlalchemy
greenlet
humanize
idna
itsdangerous
jinja2
mako
markupsafe
psycopg2-binary
pyjwt
python-dotenv
pytz
requests
resend
setuptools
six
sqlalchemy
sqlalchemy-serializer
typing-extensions
urllib3
werkzeug
stripe 
flask-cors 

